.Login {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap;
	row-gap: 1rem;
	width: 100%;
}

.Login input[type="text"],
.Login input[type="password"] {
	height: 3rem;
	border-radius: 0.25rem;
	border: none;
	width: 100%;
	padding: 0.5rem;
}

.Button {
	width: 100%;
}

.Login input[type="text"],
.Login input[type="password"],
.Login .Button {
	max-width: 25rem;
}
