.Login {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 1rem;
	margin-top: 4rem;
	width: 100%;
	max-width: 400px;
	align-self: center;
	justify-content: center;
	color: #fff;
}

.LoginForm {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 1rem;
	width: 100%;
}

.LoginForm input[type="text"],
.LoginForm input[type="password"] {
	height: 3rem;
	border-radius: 0.25rem;
	border: none;
	width: 100%;
	padding: 0.5rem;
}

.Button {
	width: 100%;
}

.LoginForm input[type="text"],
.LoginForm input[type="password"],
.LoginForm .Button {
	max-width: 25rem;
}
