.Button {
	height: 3rem;
	width: 100%;
	border: 2px solid hsl(264deg 98% 63%);
	border-radius: 4px;
	background-color: transparent;
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
}

.Button:hover {
	background-color: hsl(264deg 98% 63%);
}
