.Category {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 1rem;
}

.term {
	list-style: none;
}

.term a {
	text-decoration: none;
	color: var(--paragraph);
}

.term a:hover {
	color: var(--highlight);
}
