.ListOfGifs {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 1rem;
	min-height: 100vh;
}

.ListOfGifs-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
	gap: 1rem;
}
