.SearchForm {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	gap: 1rem;
	color: #fff;
}

.Search-input,
.Filter {
	height: 3rem;
	padding: 0.5rem;
	width: 100%;
	background-color: #fff;
}

.SearchForm .btn {
	display: flex;
	align-items: center;
	border-radius: 0 0.25rem 0.25rem 0;
	justify-content: center;
	width: 3.5rem;
}

/* --- Subcontent --- */

.Search {
	display: grid;
	grid-template-columns: 1fr auto;
}

.Filters {
	display: grid;
	grid-template-columns: repeat(2, 1fr) auto;
}

/* --- MainSearch --- */

.Search-input {
	border-radius: 0.25rem 0 0 0.25rem;
	width: 100%;
	border: none;
	font-size: 1rem;
	color: #363636;
}

.Search-input:focus {
	outline: none;
}

.Filter:hover {
	cursor: pointer;
}

/* --- Filters --- */

.Filter:first-child {
	border-radius: 0.25rem 0 0 0.25rem;
}

@media screen and (min-width: 50.75rem) {
	.SearchForm {
		flex-flow: row nowrap;
	}

	.Search-input {
		width: 18rem;
	}

	.Filter {
		width: 3.5rem;
	}
}
