.SearchForm {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	gap: 1rem;
	color: #fff;
}

.SearchForm-input,
.SearchForm-select {
	height: 3rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	width: 100%;
	background-color: #fff;
}

.SearchForm-input {
	width: 100%;
	border: none;
	font-size: 1rem;
	color: #363636;
}

.SearchForm-input:focus {
	outline: none;
}

.SearchForm-select:hover {
	cursor: pointer;
}

@media screen and (min-width: 50.75rem) {
	.SearchForm {
		flex-flow: row nowrap;
	}

	.SearchForm-input {
		width: 25rem;
	}

	.SearchForm .Button,
	.SearchForm-select {
		width: 7.5rem;
	}
}
