.Form {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	gap: 1rem;
}

.Form-input {
	height: 3rem;
	width: 100%;
	border: none;
	border-radius: 4px;
	padding: 0.5rem;
	font-size: 1rem;
	color: #363636;
}

.Form-input:focus {
	outline: none;
}

@media screen and (min-width: 50.75rem) {
	.Form {
		flex-flow: row nowrap;
	}

	.Form-input {
		width: 25rem;
	}

	.Button {
		width: 7.5rem;
	}
}
