.App {
	display: flex;
	flex-flow: column nowrap;
	background-color: var(--background);
	min-height: 100vh;
}

.App-main {
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
	padding: 1.5rem;
}

/* Button */

.btn {
	height: 3rem;
	width: 100%;
	border: 2px solid var(--main);
	border-radius: 4px;
	background-color: transparent;
	color: var(--btn-text);
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
}

.btn:hover {
	background-color: var(--main);
}

.btn.is-danger {
	border-color: var(--alert);
}

.btn.is-danger:hover {
	background-color: var(--alert);
}

/* Form */

.form {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 1rem;
	width: 100%;
}

.form label {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 0.25rem;
}

.form input[type="text"],
.form input[type="password"] {
	height: 3rem;
	border-radius: 0.25rem;
	border: none;
	width: 100%;
	padding: 0.5rem;
	background-color: var(--form-input);
	color: var(--form-color);
}

.form input[type="text"],
.form input[type="password"],
.form .btn {
	max-width: 25rem;
}

.form-error {
	color: var(--alert);
	font-size: 0.75rem;
}

/* Home */

.Home {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 2rem;
}

.Home-content {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 2rem;
}

/* Details */

.Details {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	row-gap: 2rem;
	width: 100%;
}

.Details .Gif {
	align-self: center;
}

/* Search Results */

.SearchResults {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 2rem;
	justify-content: center;
}

/* Error Page */

.ErrorPage {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	row-gap: 2rem;
}

.ErrorPage-img {
	height: auto;
	width: 100%;
	max-width: 400px;
	object-fit: contain;
}

.ErrorPage-information {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 1rem;
	align-items: center;
}

.ErrorPage-title {
	text-align: center;
}

.ErrorPage-redirect {
	color: var(--paragraph)
}
.ErrorPage-redirect a {
	color: var(--link);
}

/* Login Page and Register Page */

.LoginPage,
.RegisterPage {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 1rem;
	width: 100%;
	max-width: 400px;
	align-self: center;
	justify-content: center;
	color: var(--form-label);
}

@media screen and (min-width: 50.75rem) {
	.App-main {
		padding: 2rem;
	}

	.Home-content {
		display: grid;
		grid-template-columns: 1fr 0.5fr;
		gap: 2rem;
	}
}
