.App {
	display: flex;
	flex-flow: column nowrap;
	background-color: #1d1e22;
	min-height: 100vh;
}

.App-main {
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
	padding: 1.5rem;
}

/* Home */

.Home {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 2rem;
}

.Home-content {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 2rem;
}

/* Details */

.Details {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	row-gap: 2rem;
	width: 100%;
}

.Details .Gif {
	align-self: center;
}

/* Search Results */

.SearchResults {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 2rem;
	justify-content: center;
}

/* Error */

.ErrorPage {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	row-gap: 2rem;
}

.ErrorPage-img {
	height: auto;
	width: 100%;
	max-width: 400px;
	object-fit: contain;
}

.ErrorPage-information {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 1rem;
	align-items: center;
}

.ErrorPage-title {
	text-align: center;
}

.ErrorPage-redirect,
.ErrorPage-redirect a {
	color: #fff;
}

@media screen and (min-width: 50.75rem) {
	.App-main {
		padding: 2rem;
	}

	.Home-content {
		display: grid;
		grid-template-columns: 1fr 0.5fr;
		gap: 2rem;
	}
}
