/* Poppins */
@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	src: local(""),
		url("fonts/poppins-v15-latin-700.woff2") format("woff2"),
		url("fonts/poppins-v15-latin-700.woff") format("woff"); 
}

/* Titilium Web */

@font-face {
	font-family: "Titillium Web";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("fonts/titillium-web-v10-latin-regular.woff2") format("woff2"),
		url("fonts/titillium-web-v10-latin-regular.woff") format("woff"); 
}

/* Root Variables */

:root {
	--main: #7f5af0;
	--background: #16161a;
	--card-background: #242629;
	--headline: #fffffe;
	--paragraph: #94a1b2;
	--alert: #d9376e;
	--btn: #7f5af0;
	--btn-text: #fffffe;
	--highlight: #fffffe;
	--form-input: #16161a;
	--form-color: #fffffe;
	--link: #7f5af0;
}

/* CSS Reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Titillium Web", sans-serif;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
svg {
	display: block;
	max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root {
	isolation: isolate;
}

input,
button,
textarea,
select {
	font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
	color: var(--headline);
}

h1 {
	font-size: 1.45rem;
}

h2 {
	font-size: 1.35rem;
}
